@model HomeViewModel

<h1>Best components</h1>
<div class="row mt-5 mb-2">
@{
    foreach (СomputerСomponent component in Model.favComputerСomponents){
            @Html.Partial("AllСomputerСomponents", component)
    }
}
</div>