<h1>All compounents</h1>
<h3>@Model.currCategory</h3>
<div class="row mt-5 mb-2">
@{
    foreach (СomputerСomponent component in Model.getAllСomputerСomponents){
            @Html.Partial("AllСomputerСomponents", component)
    }
}
</div>